


.TODO {
    background-color: #FAFFCA;
    border: 0.2rem solid color-mix(in srgb, #FAFFCA 80%, orange);
    border-radius: 0.2rem;
    padding: 0.1rem;
    font-size: 1rem;
    color: black;
    
}



.DONE {
    background-color: #FAFFCA;
    border: 0.2rem solid color-mix(in srgb, #FAFFCA 80%, orange);
    border-radius: 0.2rem;
    padding: 0.1rem;
    font-size: 1rem;
    color: black;
    
}

.note-h1 {
    border-bottom: 0.1rem solid black;
}

.note-h2 {
    border-bottom: 0.1rem solid gray;
}

.note-h2 {
    border-bottom: 0.1rem dashed gray;
}
